runs
data/original/*/
*.cache
*.jpg
*.jpeg
*.txt
*.webp
*/.DS_Store
*.pdf
*.pt
*.pyc
*.pth
*.xml
*.iml
app/ml/weights/mobilenet_v2.onnx
train/classification_direction/mobilenet_v2.onnx
train/classification_crop/classification_crop.onnx
app/ml/weights/classification_crop.onnx
